body, html {
    height: 100%;
    margin: 0px;
  }
  
.backgroundimg {
    background-image: url('../assets/bg.png');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 80%;
  }

.aboutMe {
    padding-top: 1px;
    height: auto;
}

p {
    font-family: 'Baloo Da 2', 700;
    text-align: center;
    font-size: 48px;
    color: rgb(175, 92, 119);
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
        transition: .3s;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    border-radius: 50%;
    max-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s;
  }

img:hover {
    transform: scale(1.25);
}
  
.middle {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-bottom: 1rem;
}

.middle a{
      color: whitesmoke;
      font-size: 4vw;
      padding-left: 2vw;
}
  
.fa-github:hover{
    color:black;
    transition: 0.3s;
    transform: scale(1.5);
}
  
.fa-linkedin:hover{
    color:#2F4AD7;
    transition: 0.3s;
    transform: scale(1.5);
}
  
.fa-envelope:hover{
    color:lightskyblue;
    transition: 0.3s;
    transform: scale(1.5);
}
  
.fa-pinterest:hover{
    color:red;
    transition: 0.3s;
    transform: scale(1.5);
}